In [14]:
#1. Import the neccessary libraries
import pandas as pd
import numpy as np

In [15]:
#Run in Terminal = conda install -c conda-forge fsspec
#2. Import the Pokemon dataset available at https://www.kaggle.com/alopez247/pokemon
pokemon = pd.read_csv("C://Users//Calum//Documents//University//YEAR3//Term1//FundamentalsOfDataAnalytics//Week5//DataAndPandas//files//pokemon_alopez247.csv")

In [16]:
#5.8
#3. Print the first 10 entries
pokemon.head(10)

,Number,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,...,Color,hasGender,Pr_Male,Egg_Group_1,Egg_Group_2,hasMegaEvolution,Height_m,Weight_kg,Catch_Rate,Body_Style
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,...,Green,True,0.875,Monster,Grass,False,0.71,6.9,45,quadruped
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,...,Green,True,0.875,Monster,Grass,False,0.99,13.0,45,quadruped
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,...,Green,True,0.875,Monster,Grass,True,2.01,100.0,45,quadruped
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,...,Red,True,0.875,Monster,Dragon,False,0.61,8.5,45,bipedal_tailed
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,...,Red,True,0.875,Monster,Dragon,False,1.09,19.0,45,bipedal_tailed
5,6,Charizard,Fire,Flying,534,78,84,78,109,85,...,Red,True,0.875,Monster,Dragon,True,1.70,90.5,45,bipedal_tailed
6,7,Squirtle,Water,NaN,314,44,48,65,50,64,...,Blue,True,0.875,Monster,Water_1,False,0.51,9.0,45,bipedal_tailed
7,8,Wartortle,Water,NaN,405,59,63,80,65,80,...,Blue,True,0.875,Monster,Water_1,False,0.99,22.5,45,bipedal_tailed
8,9,Blastoise,Water,NaN,530,79,83,100,85,105,...,Blue,True,0.875,Monster,Water_1,True,1.60,85.5,45,bipedal_tailed
9,10,Caterpie,Bug,NaN,195,45,30,35,20,20,...,Green,True,0.500,Bug,NaN,False,0.30,2.9,255,insectoid

In [17]:
pokemon.shape

(721, 23)

In [18]:
#5.8
#4. How many observations and columns are there?
pokemon.columns

Index(['Number', 'Name', 'Type_1', 'Type_2', 'Total', 'HP', 'Attack',
       'Defense', 'Sp_Atk', 'Sp_Def', 'Speed', 'Generation', 'isLegendary',
       'Color', 'hasGender', 'Pr_Male', 'Egg_Group_1', 'Egg_Group_2',
       'hasMegaEvolution', 'Height_m', 'Weight_kg', 'Catch_Rate',
       'Body_Style'],
      dtype='object')

In [19]:
#5.8
#5.Print the names of all the columns
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 721 entries, 0 to 720
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Number            721 non-null    int64
 1   Name              721 non-null    object
 2   Type_1            721 non-null    object
 3   Type_2            350 non-null    object
 4   Total             721 non-null    int64
 5   HP                721 non-null    int64
 6   Attack            721 non-null    int64
 7   Defense           721 non-null    int64
 8   Sp_Atk            721 non-null    int64
 9   Sp_Def            721 non-null    int64
 10  Speed             721 non-null    int64
 11  Generation        721 non-null    int64
 12  isLegendary       721 non-null    bool
 13  Color             721 non-null    object
 14  hasGender         721 non-null    bool
 15  Pr_Male           644 non-null    float64
 16  Egg_Group_1       721 non-null    object
 17  Egg_Group_2       191 non-null    object
 18  hasMegaEvolution  721 non-null    bool
 19  Height_m          721 non-null    float64
 20  Weight_kg         721 non-null    float64
 21  Catch_Rate        721 non-null    int64
 22  Body_Style        721 non-null    object
dtypes: bool(3), float64(3), int64(10), object(7)
memory usage: 114.9+ KB

In [20]:
#5.12
#3. Sort by attack power from high to low
pokemon.Attack.sort_values(ascending=False)

408    165
288    160
485    160
643    150
382    150
      ...
128     10
212     10
241     10
112      5
439      5
Name: Attack, Length: 721, dtype: int64

In [21]:
#5.12
#4. Describe the defence power for each Pokemon type
typeFilter = pokemon.groupby("Type_1")
typeFilter.Defense.describe()

          count        mean        std   min    25%    50%     75%    max
Type_1
Bug        63.0   67.698413  32.223331  30.0  47.50   55.0   85.00  230.0
Dark       28.0   67.928571  23.796870  30.0  50.00   67.5   88.50  115.0
Dragon     24.0   79.125000  22.618408  35.0  63.75   85.0   91.25  121.0
Electric   36.0   59.083333  20.353132  15.0  40.00   58.5   70.00  115.0
Fairy      17.0   65.705882  18.979478  28.0  50.00   66.0   75.00   95.0
Fighting   25.0   64.280000  18.320116  30.0  53.00   62.0   78.00   95.0
Fire       47.0   64.893617  22.654526  37.0  46.50   60.0   72.00  140.0
Flying      3.0   61.666667  23.629078  35.0  52.50   70.0   75.00   80.0
Ghost      23.0   75.956522  33.910951  30.0  51.50   65.0   95.00  145.0
Grass      66.0   69.363636  23.955495  30.0  50.00   65.0   83.00  131.0
Ground     30.0   82.166667  31.893231  25.0  51.25   82.0  108.75  140.0
Ice        23.0   71.043478  35.110835  15.0  47.50   70.0   85.00  184.0
Normal     93.0   57.795699  22.349282   5.0  43.00   60.0   70.00  120.0
Poison     28.0   68.821429  21.066128  35.0  52.75   67.0   82.25  120.0
Psychic    47.0   65.042553  26.159176  15.0  46.50   60.0   75.50  130.0
Rock       41.0   99.756098  36.851581  40.0  70.00  100.0  119.00  200.0
Steel      22.0  119.409091  33.281854  70.0  96.25  115.5  140.00  200.0
Water     105.0   70.485714  25.579858  20.0  52.00   68.0   85.00  180.0

In [22]:
#5.12
#5. What are the mean, median, max and minimum of the total column for each Pokemon type?
typeFilter.Total.agg(["mean", "min", "max", "median"])

                mean  min  max  median
Type_1
Bug       365.126984  194  600   390.0
Dark      434.750000  220  680   438.0
Dragon    501.958333  300  680   515.0
Electric  420.694444  205  580   429.5
Fairy     413.176471  218  680   405.0
Fighting  404.360000  210  525   455.0
Fire      443.021277  250  680   460.0
Flying    453.333333  245  580   535.0
Ghost     423.652174  275  680   455.0
Grass     409.560606  180  600   409.0
Ground    421.000000  265  670   427.5
Ice       427.086957  250  580   455.0
Normal    392.161290  190  720   411.0
Poison    399.142857  245  535   401.5
Psychic   442.489362  198  680   466.0
Rock      437.804878  280  600   440.0
Steel     464.909091  300  680   467.5
Water     417.200000  200  680   430.0

In [23]:
#5.12
#6. What is the most common Pokemon type?
pokemon.value_counts("Type_1")

Type_1
Water       105
Normal       93
Grass        66
Bug          63
Fire         47
Psychic      47
Rock         41
Electric     36
Ground       30
Dark         28
Poison       28
Fighting     25
Dragon       24
Ghost        23
Ice          23
Steel        22
Fairy        17
Flying        3
dtype: int64

In [24]:
#5.17
#3. Check if there are missing values
#pokemon.isnull().any() #shows us which columns have missing values
pokemon.isnull().sum() #shows us count of missing values for each column

Number                0
Name                  0
Type_1                0
Type_2              371
Total                 0
HP                    0
Attack                0
Defense               0
Sp_Atk                0
Sp_Def                0
Speed                 0
Generation            0
isLegendary           0
Color                 0
hasGender             0
Pr_Male              77
Egg_Group_1           0
Egg_Group_2         530
hasMegaEvolution      0
Height_m              0
Weight_kg             0
Catch_Rate            0
Body_Style            0
dtype: int64

In [25]:
#5.17
#4. Remove the Type_2 and Egg_Group_2 columns
pokemon = pokemon.drop("Type_2", axis=1)
pokemon = pokemon.drop("Egg_Group_2", axis=1)
pokemon

,Number,Name,Type_1,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,...,isLegendary,Color,hasGender,Pr_Male,Egg_Group_1,hasMegaEvolution,Height_m,Weight_kg,Catch_Rate,Body_Style
0,1,Bulbasaur,Grass,318,45,49,49,65,65,45,...,False,Green,True,0.875,Monster,False,0.71,6.9,45,quadruped
1,2,Ivysaur,Grass,405,60,62,63,80,80,60,...,False,Green,True,0.875,Monster,False,0.99,13.0,45,quadruped
2,3,Venusaur,Grass,525,80,82,83,100,100,80,...,False,Green,True,0.875,Monster,True,2.01,100.0,45,quadruped
3,4,Charmander,Fire,309,39,52,43,60,50,65,...,False,Red,True,0.875,Monster,False,0.61,8.5,45,bipedal_tailed
4,5,Charmeleon,Fire,405,58,64,58,80,65,80,...,False,Red,True,0.875,Monster,False,1.09,19.0,45,bipedal_tailed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716,717,Yveltal,Dark,680,126,131,95,131,98,99,...,True,Red,False,NaN,Undiscovered,False,5.79,203.0,45,two_wings
717,718,Zygarde,Dragon,600,108,100,121,81,95,95,...,True,Green,False,NaN,Undiscovered,False,5.00,305.0,3,serpentine_body
718,719,Diancie,Rock,600,50,100,150,100,150,50,...,True,Pink,False,NaN,Undiscovered,True,0.71,8.8,3,head_arms
719,720,Hoopa,Psychic,600,80,110,60,150,130,70,...,True,Purple,False,NaN,Undiscovered,False,0.51,9.0,3,head_only
720,721,Volcanion,Fire,600,80,110,120,130,90,70,...,True,Brown,False,NaN,Undiscovered,False,1.70,195.0,3,quadruped

In [26]:
#5.17
#5. Drop any rows that have null values
pokemon = pokemon.dropna()
pokemon

,Number,Name,Type_1,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,...,isLegendary,Color,hasGender,Pr_Male,Egg_Group_1,hasMegaEvolution,Height_m,Weight_kg,Catch_Rate,Body_Style
0,1,Bulbasaur,Grass,318,45,49,49,65,65,45,...,False,Green,True,0.875,Monster,False,0.71,6.9,45,quadruped
1,2,Ivysaur,Grass,405,60,62,63,80,80,60,...,False,Green,True,0.875,Monster,False,0.99,13.0,45,quadruped
2,3,Venusaur,Grass,525,80,82,83,100,100,80,...,False,Green,True,0.875,Monster,True,2.01,100.0,45,quadruped
3,4,Charmander,Fire,309,39,52,43,60,50,65,...,False,Red,True,0.875,Monster,False,0.61,8.5,45,bipedal_tailed
4,5,Charmeleon,Fire,405,58,64,58,80,65,80,...,False,Red,True,0.875,Monster,False,1.09,19.0,45,bipedal_tailed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
710,711,Gourgeist,Ghost,494,65,90,122,58,75,84,...,False,Brown,True,0.500,Amorphous,False,1.70,39.0,60,head_base
711,712,Bergmite,Ice,304,55,69,85,32,35,28,...,False,Blue,True,0.500,Monster,False,0.99,99.5,190,quadruped
712,713,Avalugg,Ice,514,95,117,184,44,46,28,...,False,Blue,True,0.500,Monster,False,2.01,505.0,55,quadruped
713,714,Noibat,Flying,245,40,30,35,45,40,55,...,False,Purple,True,0.500,Flying,False,0.51,8.0,190,two_wings
714,715,Noivern,Flying,535,85,70,80,97,80,123,...,False,Purple,True,0.500,Flying,False,1.50,85.0,45,two_wings